.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(77, 77, 77);
    border: 1px solid lightslategray;
    margin-top: -3px;
    height: 60px;
}

.footer h6{
    display: flex;
    justify-content: center;
}
.footer .h6-content{
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
    color: white;
    margin-top: -1px;
    border: 1px solid lightslategray;
    height: 60px;
    align-items: center;
}

.footer .footer-content{
    border: none;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 5px;
    margin-left: 3px;
}
