.main-body-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 30px;
    margin-top: 50px;

}

.content-wrapper .content h2{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: start;
    color: lightgray;
}

.content .h2-content{
    font-weight: 900;
    color: white;
}

.content-wrapper .content h3{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.4rem;
    font-weight: 50;
    text-align: start;
    color:lightgrey;
}

.content-wrapper .sign-up-learn-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.content-wrapper .sign-up-learn-wrapper .sign-up-free{
    font-size: 2rem;
    font-weight: 520;
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color:rgb(105, 240, 105);
    border-radius: 2px; 
    height: 40px;
    width: 240px;
    padding: 6px;
}

.content-wrapper .sign-up-learn-wrapper .learn-more{
    font-size: 1.8rem;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 500;
    color:white;
    text-decoration: none;
    text-align: center;
    background-color:black;
    border-radius: 2px;
    height: 40px;
    width: 170px;
    padding: 6px;
}

.codepen-image .image-content h5{
    color: white;
    font-size: 1.1rem;
    font-family: 'Ibarra Real Nova', serif;
}

.codepen-image .image-content {
    display: flex;
}

.image-content .h5-content{
    color: rgb(36, 196, 250);
}